body{
	background-image: url('../imagenes/principal.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #8EB8F1;
}
*{
	font-family: 'Prompt', sans-serif;
}

#contenedorPeque{
	margin: 0 auto;
	width: 50%;
	background:Gainsboro;
	margin-top:2%;
	box-shadow: 2px 2px 5px black;
	border-radius: 20px;
}
#contenedorGrande{
	background: Gainsboro;
	border-radius: 5px 5px 1% 1%;
	text-align:center;
	margin: 0 auto;
	width: 80%;
}
img.LogoPeq{
	width:15%;
	transition:4s ease-in-out;
	transform: rotateY(360deg);
	transform-style: preserve-3d;
}

.titulo{
    font-weight: bold;
    margin-bottom: 10px;
	padding: 20px 20px 0px 20px;
	text-align:center;
}
